<!DOCTYPE html>
<html>
<head>
    <title>JS CSV Viewer</title>
    <link rel="stylesheet" href="SlickGrid/slick.grid.css" type="text/css"/>
    <link rel="stylesheet" href="SlickGrid/css/smoothness/jquery-ui-1.8.16.custom.css" type="text/css"/>
    <link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body>
    <div id="meta">
        <a target="_blank" href="<%= repoURL %>">Repo</a>
    </div>
    <form id="input-form">
        <label>URL: <input type="text" placeholder="URL" class="url"/></label>
        <label>CSV: <textarea placeholder="comma-separated values" wrap="off" class="csv"></textarea></label>
        <input type="submit" value="Render"/>
    </form>

    <div id="grid"></div>

    <div id="mask">
        <div class="message"></div>
    </div>

    <script src="SlickGrid/lib/jquery-1.7.min.js"></script>
    <script src="SlickGrid/lib/jquery.event.drag-2.0.min.js"></script>
    <script src="SlickGrid/lib/jquery-ui-1.8.16.custom.min.js"></script>
    <script src="SlickGrid/slick.core.js"></script>
    <script src="SlickGrid/slick.grid.js"></script>
    <script src="CSVToArray.js"></script>
    <script src="csv-viewer.js"></script>

    <% if (googleAnalyticsID) { %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', <%-: googleAnalyticsID | json %>]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <% } %>
</body>
</html>
