body {
    padding: 10px;
}

#input-form {
    display: block;
    border: solid 2px gray;
}
#input-form .url {
    display: block;
    width: 300px;
}
#input-form .file {
    display: none;
}
#input-form .csv {
    display: block;
    font-family: monospace;
    font-size: 10px;
}

#grid {;
    min-height: 200px;
    border: solid 2px gray;
    font-size: 12px;
}
