body {
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px;
}

#input-form {
    display: block;
    border: solid 2px gray;
}
#input-form > label {
    display: block;
}
#input-form .url {
    width: 700px;
}
#input-form .csv {
    font-family: monospace;
    font-size: 10px;
    width: 700px;
    min-height: 50px;
}

#grid {;
    min-height: 200px;
    border: solid 2px gray;
    font-size: 12px;
}
